<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <header>
        About Us
    </header>
</head>

<body>
    <h1>Inspiration</h1>

    <p>
        One of our group's grandparents suffered a lot of health problems during the pandemic and was very scared to go outside. As a result, she grew very lonely. This project is our way of trying to help people like her to make sure things like these never
        happen again.
    </p>

    <h1>What it does</h1>
    <p>A quick, easy website that allows elderly people to talk and play with other elders and play games like Bingo. </p>
    <h1> How we built it</h1>
    <p>We built it using Javascript, Flask, CSS, and Python. We used VSCode to code. We used Javascript, Flask, and CSS to create the website back-end and front-end. We used Python to host our Flask server, which includes security such as sign-in, and we
        created a Domain (gramgram.social) for our website on Digital Ocean.
    </p>
    <h1>Challenges we ran into</h1>
    <p>We ran into a couple challenges setting up user id's and creating individual sessions for each user. </p>
    <h1>Accomplishments that we're proud of</h1>
    <p>We're proud of being able to set up a user interface that allows them to create their own accounts and functionally play games and talk with other accounts. We're happy of being able to combine different elements of our code like a messaging system
        with an id system to facilitate one-on-one conversations with other users. </p>
    <h1>What we learned</h1>
    <p>We learned about integrating different coding aspects of an assignment and blending them into one, cohesive project. We learned about some cool aspects of flask login and combing sql with flask to make our login interface. </p>
    <h1>What's next for GramGram</h1>
    <p>We're planning on adding in more games and features to GramGram. What's next on our mind is a chess game for people to play. We are additionally thinking about adding in a video chat feature.</p>

</body>

</html>