<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/styles.css" rel="stylesheet" type="text/css" />
    <style>
        body {
            text-align: center;
            vertical-align: middle;
        }
    </style>
    <title>Base</title>

</head>

<body>
    {% block content %}

    <h1>Hello, {{ user.username }}!</h1>
    {% endblock %}



    <button><a href="{{ url_for('games') }}">Games</a></button>
    <button><a href="{{ url_for('friends') }}">Friends</a></button>
    <button><a href="{{ url_for('index') }}">Message</a></button>
    <button><a href="{{ url_for('user_info') }}">User Info</a></button>


</body>

</html>