<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/styles.css" rel="stylesheet" type="text/css" />
    <title>Document</title>
</head>

<body>
    {% block content %}
    <h1>{{ user.fullname }}'s Friends</h1>

    {% if user.friends %}
    <ul>
        {% for friend in user.friends %}
        <li>{{ friend.username }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>You have no friends yet.</p>
    {% endif %} {% endblock %}
</body>

</html>