<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/gramsheet.css">
    <title>GramGram</title>

    <header>
        Welcome to GramGram!
    </header>
</head>

<body>
    <p><a href="{{ url_for('signin') }}">SignUp</a></p>
    <br>
    <p><a href="{{ url_for('login') }}">Login</a></p>
    <br>
    <p><a href="{{ url_for('chat') }}">Chat</a></p>
    <br>
    <p><a href="{{url_for('games') }}">Games!</a></p>
</body>

</html>