      <body>
        <main id="main-holder">
          <h1 id="signin-header">SignIn</h1>
          
          <div id="signin-error-msg-holder">
            <p id="signin-error-msg">Invalid username <span id="error-msg-second-line">and/or password</span></p>
          </div>
          
          <form id="signin-form">
            <input type="text" name="username" id="username-field" class="signin-form-field" placeholder="Username">
            <input type="password" name="password" id="password-field" class="signin-form-field" placeholder="Password">
            <inputlogin"passwordLogin name="password_conf" id="password_conf-field" class="signin-form-field" placeholder="Confirm Password">
            <input type="submit" value="Signin" id="signin-form-submit">
          </form>login
        login
        </main>
      </body>loginLoginloginloginlogin