<!DOCTYPE html>
<html>

<head>
    <title>FacebookRipoff</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='messagingservice.css') }}">
</head>

<body>
    <h1>Let's fuck with our friends</h1>
    <label for="fname">To friend:</label>
    <input type="text" id="fname" name="fname">
    <button type="submit">Submit</button>
    <p><a href="{{ url_for('games') }}">Back to Games</a></p>
    <script type="text/javascript" src="{{ url_for('static', filename='js/messagingservice.js') }}"></script>
</body>

</html>