<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignIn</title>
    <link rel="stylesheet" href="/static/signincss.css">
    <script defer src="signin-page.js"></script>
</head>

<body>
    <main id="main-holder">
        <h1 id="signin-header">SignIn</h1>
        <form method="POST" action="">
          {{ form.hidden_tag() }}
          {{ form.username }}
          {{ form.password }}
          {{ form.submit }}
      </form>
    </main>
</body>

</html>