<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign</title>
    <link href="static/styles.css" rel="stylesheet" />
    <style>
        body {
            text-align: center;
            vertical-align: middle;
        }
    </style>
</head>

<body>

    {% block content %}
    <h1>Sign Up</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }} {{ form.username.label }} {{ form.username }} <br> {{ form.password.label }} {{ form.password }} <br> {{ form.aboutme.label }} {{ form.aboutme }}<br> {{ form.fullname.label }} {{ form.fullname }} <br> {{ form.email.label
        }} {{ form.email }} <br>
        <input type="submit" value="Sign Up">
    </form>
    {% endblock %}

</body>

</html>